body {
    font-family: 'Pretendard', Arial, sans-serif;
    margin-bottom: 10px;
    padding: 0;
}

.container {
    width: 100%;
    background-color: white;
    max-width: calc(100% * 9 / 10);
    margin-top: 5px;
    margin-left: 10px;
    padding: 10px;
    padding-top: 20px;
    border-radius: 10px;
    position: center;
}

.container2 {
    width: 100%;
    background-color: #F6F6F6, linear-gradient(#F6F6F6, #F6F6F6);
    background-repeat: no-repeat;
    background-position: top center, top center;
    background-attachment: scroll, scroll;
    background-size: 100%, cover;
    margin-top:20px;
    position: center;
}

.desc {
    text-align: center;
}

.user-wrap {
    width: 100%;
    margin: 10px auto;
    position: relative;
}

.user-wrap img{ 
    width: 75%;
    height: 60%;
    vertical-align: middle;
}

.user-text {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-family: 'Pretendard';
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.box-wrap {
    background-color: white;
    width: 40%;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    border-radius: 10px;
}

#resultButton {
    background-color: #000;
    font-family: 'Pretendard';
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    height: 60px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.chart-container {
    display: flex;
    transform: rotate(180deg);
    width: 100%;
    height:150px;
    line-height: 100px;
    margin: 20px;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
    margin-bottom: 10px;
}

.chart-container::after {
    content: '';
    position: absolute;
    margin-top: 10px;
    margin-left: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(124, 124, 124, 0.5); /* 원하는 색상으로 변경 가능 */
}

.chart-desc {
    font-size: 2rem;
    font-weight: bold;
    line-height: 20px;
}

.chart {
    width: 60px;
    height: 100%;
    margin: 10px;
    animation: grow 2s ease-in-out forwards; /* forwards 옵션을 사용하여 애니메이션 종료 후 상태 유지 */
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    float: left;
    margin-right: 50px;

}

.line {
    border: solid;
    border-width: 1px 0 0 0;
    color: rgba(124, 124, 124, 0.5);
    align-items: center;

}

.chart:nth-child(1) {
    background-color: #A55E17;
    animation-name: grow-30; /* 첫 번째 그래프에는 grow-70 애니메이션 적용 */
}

.chart:nth-child(2) {
    background-color: #D9D9D9;
    animation-name: grow-70; /* 두 번째 그래프에는 grow-40 애니메이션 적용 */
}


@keyframes grow-70 {
    0% {
        height: 0;
    }
    100% {
        height: 70%; /* 첫 번째 그래프: 70%의 높이 */
    }
}

@keyframes grow-30 {
    0% {
        height: 0;
    }
    100% {
        height: 30%; /* 두 번째 그래프: 40%의 높이 */
    }
}

@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-1.3.8/web/static/woff-subset/Pretendard-Regular.subset.woff');
}

@media (max-width: 360px) {
    .container {
        max-width: 90%;
        padding: 10px;
    }
}